// Device Variables
$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

// BG Color Variables
$primary-bg-color: #03316C;
$normal-bg-color: #ffffff;
$content-bg-color: #f5faff;
$secondary-bg-color: #4998f3;

// Text Color Variables
$primary-text-color: #03316C;
$normal-text-color: #000000;
$secondary-text-color: #8e98a2;
$tertiary-text-color: #757575;

// Border Radius Variables
$small-border-radius: 10px;
$medium-border-radius: 15px;
$large-border-radius: 25px;

// Padding Variables
$small-padding: 10px;
$medium-padding: 15px;
$large-padding: 25px;

// Margin Variables
$small-margin: 10px;
$medium-margin: 15px;
$large-margin: 25px;

// Gap Variables
$xsmall-gap: 5px;
$small-gap: 10px;
$medium-gap: 15px;
$large-gap: 25px;

// Letter Spacing Variables px
$small-letter-spacing: 0.05em;
$medium-letter-spacing: 0.1em;
$large-letter-spacing: 0.2em;
