// Device Variables
$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

// BG Color Variables
$primary-bg-color: #081f3e;
$normal-bg-color: #ffffff;
$content-bg-color: #f5faff;

// Text Color Variables
$primary-text-color: #ffffff;
$normal-text-color: #000000;

// Border Radius Variables
$primary-border-radius: 20px;

// Padding Variables
$primary-padding: 20px;