@use '../../style/_variables.scss' as var;

.walletList {
  width: 100%;
  box-sizing: border-box;
}

.walletListContainer {
  display: flex;
  flex-direction: column;
  gap: var.$small-gap;
  overflow-y: auto;
  flex: 1;
  padding-right: 4px;
}

.walletItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var.$small-padding;
  background-color: var.$normal-bg-color;
  border-radius: var.$small-border-radius;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.walletItemInfo {
  display: flex;
  align-items: center;
  gap: var.$small-gap;
}

.walletItemInfoIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.walletItemAmount {
  display: flex;
  align-items: end;
  gap: var.$small-gap;
  flex-direction: column;
  text-align: right;
}

.walletItemAmountValue {
  margin: 0;
  color: var.$primary-text-color;
  font-weight: 500;
}

.walletItemAmountUsdValue {
  margin: 0;
  color: var.$secondary-text-color;
}
