@use '../../style/_variables.scss' as var;

.walletList {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var.$content-bg-color;
  border-top-left-radius: var.$primary-border-radius;
  border-top-right-radius: var.$primary-border-radius;
  padding: var.$primary-padding;
}