@use '../../style/_variables.scss' as var;

.walletList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  background-color: var.$primary-bg-color;
}